@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");
@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}

.home-container {
  max-width: 100vw;
  height: 100vh;
}

.jumbotron {
  background-image: url("../../images/CP.jpg");
  background-size: cover;
  height: 600px;
  width: 100%;
  margin: auto;
  font-family: "Cyber", sans-serif;
  border-radius: 0px !important;
}

.jumbotron-text {
  color: #15415c;
  font-size: 60px;
  margin-left: 3%;
}

.jumbotron-subtitle {
  color: #15415c;
  margin-top: 0px;
  margin-left: 3%;
}

.jumbotron-cyber-button-container {
  margin-left: 3%;
  margin-top: 25px;
}

.trending-anime-text {
  width: 90% !important;
}
